<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atlas" type="Atlas.Configuration.XmlConfiguration, Atlas" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IRSI.PayrollDataGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sky=".NETFramework,Version=4.0" />
  </startup>
  <atlas>
    <host name="IrsiPayrollDataGen" displayName="IRSI PayrollDataGen" description="A service that generates payroll files for IRSI" allowMultipleInstances="false">
      <runtime accounttype="networkservice" startup="automatic" />
    </host>
  </atlas>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <IRSI.PayrollDataGen.Properties.Settings>
      <setting name="TipCalculationStrategy" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="StoreId" serializeAs="String">
        <value>109</value>
      </setting>
      <setting name="StoreName" serializeAs="String">
        <value>Chili's Carolina</value>
      </setting>
      <setting name="GenIntervalInMinutes" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="SendIntervalInMinutes" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="StartHour" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StartMinute" serializeAs="String">
        <value>0</value>
      </setting>
    </IRSI.PayrollDataGen.Properties.Settings>
  </userSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="IRSI.PayrollDataGen.PayrollGenRESTService" behaviorConfiguration="PayrollGenRESTServiceBehaviour">
        <endpoint address="http://localhost:3002/api/payrollGen" binding="webHttpBinding" behaviorConfiguration="WebHttpBehaviour" contract="IRSI.PayrollDataGen.IPayrollGenRESTService">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PayrollGenRESTServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="None" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehaviour">
          <webHttp automaticFormatSelectionEnabled="false" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>